*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header img{
  width: 50px;
  border-radius: 40%;
  padding-right: 10%;
}

.titre{
  padding-top: 2%;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
}

main{
  padding: 1%;
}
main 
.css,
.swift{
  display: flex;
  justify-content: end;
}

footer{
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

.col-md-4{
  padding: 3%;
}
